<!-- Footer section-->
<footer id="footer" class="footer">
    <div>
        <div class="animated hiding" data-animation="fadeInUp" data-delay="300">
            <ul class="social">
                <li class="list-inline-item">
                    <a class="facebook" href="http://www.facebook.com" title="Facebook">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="twitter" href="http://www.twitter.com" title="Twitter">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="google-plus" href="http://www.plus.google.com" title="Google+">
                        <i class="fa fa-google-plus fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="dribbble" href="http://www.linkedin.com" title="Dribbble">
                        <i class="fa fa-dribbble fa-2x"></i>
                    </a>
                </li>
            </ul>
            <p class="copyright">
                Created by <a href="">Sheeps Studio development team</a> &middot; Icons by <a href="http://fontawesome.io/">Font Awesome</a> &middot;
            </p>
        </div>
    </div>
</footer>