<section id="" class="center-container">
    <div class="container-xs">
        <div class="content content-center">
            <div>
                <h2>Ce que nous faisons. 🐑</h2>
                <div class="separator"></div>
                <p>Dans la vie nous ne passons pas seulement notre temps dans un pré ! Nous, nous créons ! Du génépi d'herbe fluorescente pour conserver notre haleine fraiche !
                Des scéances chez le coiffeur pour ne pas trop friser en sortant du spa ! Des soirées entre moutons pour toujours plus de bèh !</p>
            </div>

            <div class="gallery" id="gallery">
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,care" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,studied" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,substance" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,choose" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,past" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,lamp" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,yet" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,eight" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,crew" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,event" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,instrument" alt=""></div>
                </div>
                <!-- <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,practical" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,pass" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,bigger" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,number" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,feature" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="https://source.unsplash.com/random/?tech,line" alt=""></div>
                </div> -->
            </div>
        </div>
    </div>
</section>

<script>
    // Get gallery content
    let gallery = document.querySelector('#gallery'); 
    // Get item value
    let getValue = function (elem, style) { return parseInt(window.getComputedStyle(elem).getPropertyValue(style)); };
    // Get item height
    let getHeight = function (item) { return item.querySelector('.content').getBoundingClientRect().height; };
    // Resize elements
    let resizeAll = function () {
        let size = getValue(gallery, 'grid-auto-rows');
        let gap = getValue(gallery, 'grid-row-gap');
        gallery.querySelectorAll('.gallery-item').forEach(function (item) {
            let el = item;
            el.style.gridRowEnd = "span " + Math.ceil((getHeight(item) + gap) / (size + gap));
        });
    };
    gallery.querySelectorAll('img').forEach(function (item) {
        item.classList.add('byebye');
        if (item.complete) {
            console.log(item.src);
        }
        else {
            item.addEventListener('load', function () {
                let size = getValue(gallery, 'grid-auto-rows');
                let gap = getValue(gallery, 'grid-row-gap');
                let gitem = item.parentElement.parentElement;
                gitem.style.gridRowEnd = "span " + Math.ceil((getHeight(gitem) + gap) / (size + gap));
                item.classList.remove('byebye');
            });
        }
    });
    window.addEventListener('resize', resizeAll);
    gallery.querySelectorAll('.gallery-item').forEach(function (item) {
        item.addEventListener('click', function () {        
            item.classList.toggle('full');        
        });
    });
</script>