<!-- Navigation bar -->
<section class="page">
        <div class="navbar" id="navbar-responsive">
            <a class="nav-l nav-link" href="/">Sheeps Studio</a> 
            
            <a class="nav-r nav-link" href="login" id="login-button">Se connecter</a>
            <a class="nav-r nav-link" href="register" id="register-button">S'enregistrer</a>
            <a class="nav-r script-scroll nav-link" href="#footer" >Contacts</a>
            <a class="nav-r script-scroll nav-link" href="#team">A propos</a>
            <a class="nav-r script-scroll nav-link" href="#gallery">Prairie</a>
            <a class="nav-r script-scroll nav-link" href="#shop">Boutique</a>
            <a class="nav-r script-scroll nav-link" href="#products">Teintures</a>
            <a class="nav-r script-scroll nav-link" href="#home">Ferme</a>
            <a class="icon nav-link" onclick="makeNavbarResponsive()"href="javascript:void(0);" ><i class="fa fa-bars"></i></a>
        </div>
</section>

<script>
    // Get the division Id 
    let navbar = document.getElementById("navbar-responsive");
    // Get navbar height + 1 (when we are on the top)
    let sticky = navbar.offsetTop + 1;

    function makeNavbarResponsive() {
        // If the class set on navbar transform to responsive class
        // Else redefine it to navbar
        if ( navbar.className === "navbar") { navbar.className += " responsive"; } 
        else { navbar.className = "navbar"; }
    }

    window.onscroll = function() {makeNavbarFixed()};

    function makeNavbarFixed() {
        // If we scroll change navbar style to fixed
        // Else remove fixed style to use inherit position
        if (window.pageYOffset >= sticky) { navbar.classList.add("navbar-fixed"); } 
        else { navbar.classList.remove("navbar-fixed"); }
    }

</script>

