<head>
    <link rel="stylesheet" type="text/css" href="../assets/css/error-404.css" async defer>
</head>
<body class="error-404">
    <div >
        <div class="error-404-container">
            <div class="typewriter">
                <h1>Vous êtes-vous trompé de pré ?</h1>
            </div>
            <h3>Pré <span id="error-404-value">404</span> non trouvé...</h3>
            <div class="error-404-content">
                <h4>Causes possibles :</h4>
                <ul class="error-404-list">
                    <li>L'adresse saisie dans la barre de recherche est incorrecte.</li>
                    <li>La page a été déplacée, ou renommé et n'est plus disponible.</li>
                </ul>
            </div>
            <a href="/">Retour à la ferme</a>
        </div>
    </div>
</body>

<script>
    let error = document.getElementById('error-404-value');
    let i = 0;

    function increment() {
                    if(i==404) {
                                    // Increment the latest value of error
                                    error.innerHTML = i++;
                                    error.style.color = '#58c5d0';
                                    // Stop the timer
                                    clearInterval(counter);
                    }
                    else {
                                    // Increment the value of error
                                    error.innerHTML = i++; 
                    }
    }
    // Call the function every delay
    let counter = setInterval(increment, 10);
    increment();
</script>

