<!-- Loader component -->
<div class="loader">
    <div class="loading"></div>
</div>

<%- include('partials/navbar') -%>

<!-- Home section -->
<section id="home" class="container">
    <div class="home page overlay center">
        <div class="content">
            <div class="cover">
                <h1 class="animated hiding" data-animation="fadeInDown" data-delay="300">Sheeps Studio</h1>
                <a  class="animated hiding button script-scroll" data-animation="fadeIn" data-delay="900" href="#products"><span>Bêhvenue...</span></a>
                <h3 class="animated hiding" data-animation="fadeIn" data-delay="600">Bande de poulets !</h3>
            </div>
        </div>
    </div>
</section>

<!-- Products section -->
<section id="products" class="center-container">
    <div class="container-xs content content-center">
        <div>
            <h2>Ce que nous vous proposons. 🐑</h2>
            <div class="separator"></div>
            <p>Chez Sheeps Studio nous aimons rire !</p>
        </div>
        <div>
            <a id="products-reset" onclick="hideOtherProducts(0)" class="products-close" title="Fermer le détail du produit">&times;</a>
            <div class="products-container">
                <a id="product-1" class="products-card animated hiding" onclick="hideOtherProducts(1)" data-animation="fadeInUp" data-delay="300">
                    <h3 class="products-title">Sheep'Olata</h3>
                    <p>Venez découvrir notre bien aimée et plus grande fièreté Olata. Olata est un mouton, né de parents moutons, eux mêmes nés de parents moutons, son plus grand rêve dans la vie
                    découvrir le monde accompagnée de ses plus fidèles amis. A ses côtés vous aurez l'occasion de réaliser de belles rencontres en aidant toute sorte d'individus au travers de quêtes dans un univers 2D complètement dégenté.</p>
                    <img class="products-image" src="assets/img/products/sheep-olata.jpg" alt="Illustration du produit Sheep'Olata">
                </a>
                <a id="product-2" class="products-card animated hiding" onclick="hideOtherProducts(2)" data-animation="fadeInUp" data-delay="600">
                    <h3 class="products-title">Sheep'Olata fantastic <i>extension pack</i></h3>
                    <p>Vous avez fait le tour du monde de Sheep'Olata... Ne vous en faitttes pas ! Découvrez notre nouvel extension pack S'O Fantastic vous y retrouverez des moutons datant de périodes
                    lointaines des moublins, des morques... et bien d'autres créatures toutes prêtes à vous faire vivre de nombreuses aventures !</p>
                    <img class="products-image" src="assets/img/products/sheep-fantastic.jpg" alt="Illustration du produit Sheep'Olata Fantastic">    
                </a>
                <a id="product-3" class="products-card animated hiding" onclick="hideOtherProducts(3)" data-animation="fadeInUp" data-delay="900">
                    <h3 class="products-title">Sheep'Olata Heroes <i>extension pack</i></h3>
                    <p>Envie de vous amuser encore plus ? Essayez S'O Heroes vous y trouverez vos héros favoris avec une touche de bèèhh en plus. Peut être prendrez vous le parti de choubèka ou bien celui d'iron bèh mais toujours est il... ce sera à vous de choisir !</p>
                    <img  class="products-image" src="assets/img/products/sheep-heroes.png" alt="Illustration du produit Sheep'Olata Heroes">
                </a>  
            </div>
            <!-- <img id="products-more" class="component-more animated hiding" src="assets/img/ico/arrow-down-1.png" onclick="showMoreProducts()" data-animation="fadeInUp" data-delay="1200"> -->
        </div>
    </div>
</section>

<!-- Shop section-->
<section id="shop" class="center-container">
    <div class="content content-center">
        <div>
            <h2>Nos kébabs. 🐑</h2>
            <div class="separator"></div>
            <p>Lorem inciput cardiosa !</p>
        </div>
    </div>
</section>

<%- include('partials/gallery') -%>

<!-- Team section -->
<section id="team" class="team center-container center">
    <div class="container-xs content content-center">
        <div>
            <h2>Notre Troupeau. 🐑</h2>
            <div class="separator"></div>
            <p>Texte</p>
        </div>
        <div class="team-panel">
            <div class="teammate animated hiding" data-animation="fadeInLeft" data-delay="600">
                <div class="profile-photo">
                    <img src="assets/img/team/1.jpg" alt="">
                </div>
                <div class="bio">
                    <h5>John Doe</h5>
                    <p>Web Developer</p>
                    <div class="separator"></div>
                    <p>Texte</p>
                    <ul class="center-icons">
                        <li class="list-inline-item">
                            <a href="http://www.facebook.com" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://www.twitter.com" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://www.linkedin.com" title="LinkedIn">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://www.github.com" title="GitHub">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="teammate animated hiding" data-animation="fadeInUp" data-delay="300">
                <div class="profile-photo">
                    <img src="assets/img/team/2.jpg" alt="">
                </div>
                <div class="bio">
                    <h5>Gratia</h5>
                    <p>Designer</p>
                    <div class="separator"></div>
                    <p>Texte</p>
                    <ul class="center-icons">
                        <li class="list-inline-item">
                            <a href="http://www.dribbble.com" title="Dribbble">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://www.pinterest.com" title="Pinterest">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://www.instagram.com" title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="teammate animated hiding" data-animation="fadeInUp" data-delay="300">
                <div class="profile-photo">
                    <img src="assets/img/team/3.jpg" alt="">
                </div>
                <div class="bio">
                    <h5>Olata</h5>
                    <p>Mobile Developer</p>
                    <div class="separator"></div>
                    <p>Texte</p>
                    <ul class="center-icons">
                        <li class="list-inline-item">
                            <a href="http://www.twitter.com" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://developer.android.com/index.html" title="Android Developers">
                                <i class="fa fa-android"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://www.stackoverflow.com" title="Stack Overflow">
                                <i class="fa fa-stack-overflow"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="teammate animated hiding" data-animation="fadeInRight" data-delay="600">
                <div class="profile-photo">
                    <img src="assets/img/team/4.jpg" alt="">
                </div>
                <div class="bio">
                    <h5>Fergus</h5>
                    <p>QA Engineer</p>
                    <div class="separator"></div>
                    <p>Texte</p>
                    <ul class="center-icons">
                        <li class="list-inline-item">
                            <a href="http://www.plus.google.com" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://www.trello.com" title="Trello">
                                <i class="fa fa-trello"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:john.doe@mail.com" title="Email">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') -%>

