<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="copyright" content="Sheeps Studio">
    <meta name="description" content="Official Sheeps Studio website">
    <meta name="keywords" content="video game, 2D plateformer, funny, quests">
    <meta name="author" content="Sheeps Studio">
    
    <!-- Help to make smooth animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" async defer>
    <!-- Add useful icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" async defer>

    <!-- Import style.css -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" async defer>
    <!-- Import icon -->
    <link rel="shortcut icon" href="assets/img/ico/sheep.png">
    <!-- Page title -->
    <title>Sheeps Studio</title>

</head>
<body>
    <div><%- body %></div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.3.3/jquery.appear.min.js"></script>
    <!-- Allow popup disappear -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!-- Allow socket exchanges -->
    <script src="socket.io/socket.io.js"></script>
    <script src="assets/js/modal.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/client.js"></script>
</body>
</html>