<%- include('partials/navbar'); %>
<section>
  <div class="connection-image overlay center">
    <div class="hero">
      <div class="hero-content-area">
        <%- include ('partials/messages'); %>
        <form action="/login" method="POST" class="connection-form" autocomplete="off">
          <p class="login-text">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-lock fa-stack-1x"></i>
            </span>
          </p>
          <input type="email" class="connection-field" autofocus="true" required="true" placeholder="Email" id="email" name="email"/>
          <input type="password" class="connection-password" required="true" placeholder="Password" id="password" name="password"/>
          <input type="submit" name="Login" value="Login" class="login-submit" />
          <a href="/register"class="goto-register">Vous n'avez pas de compte ? S'enregistrer.</a>
        </form>
        <div class="underlay-photo"></div>
        <div class="underlay-black"></div> 
    </div>
</section>