@import './variables';


.team .content {
    margin-bottom: 0;
}

.team .teammate {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.team .teammate .profile-photo {
    overflow: hidden;
}

.team .teammate .profile-photo img {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    width: 100%;
    height: 100%
}

.team .teammate:hover .profile-photo img,
.team .teammate:focus .profile-photo img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.team .teammate .bio {
    height: 1px;
    padding-left: 1rem;
    padding-right: 1rem;

}

.team .teammate .bio ul {
    margin-bottom: 0;
}

.team .teammate .bio a {
    color: #666;
}

.team .teammate .bio a:hover,
.team .teammate .bio a:focus {
    color: #222;
}

.team-panel {
    display: flex;
}

.center-icons {
    display: contents;
}
  
  