/* Display cards on the grid */
  
  .grid-container {
    display: grid;
    grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
    grid-template-rows: 25rem 30rem 30rem 30rem 30rem;
    gap: 30px 15px;
    grid-template-areas: 
    "sidebar traffic    traffic    traffic    traffic" 
    "sidebar team       team       team       team" 
    "sidebar meteo      tdl        tdl        tdl" 
    "sidebar tchat      tchat      tchat      cal" 
    "sidebar products   products   products   products";
  }
  
  /* Set cards on the grid */
  
  .traffic {
    grid-area: traffic;
  }
  
  .tdl {
    grid-area: tdl;
  }
  
  .cal {
    grid-area: cal;
  }
  
  .tchat {
    grid-area: tchat;
  }
  
  .meteo {
    grid-area: meteo;
  }
  
  .timeline {
    grid-area: timeline;
  }
  
  .team {
    grid-area: team;
  }
  
  .products {
    grid-area: products;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  
  .cards {
    background-color: #e3e3e3;
    word-wrap: break-word;
    border-radius: 5px;
    border-radius: .25rem;
    border: 0px solid transparent;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .menu {
    background-color: #e3e3e3;
  }
  
  .cards header {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    height: 3rem;
    margin-bottom: 1rem;
  }
  
  .cards-header {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 1rem;
  }
  
  .cards-header-r {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
  
    a {
      font-weight: 800;
      font-size: 18px;
      margin-right: 1.5rem;
    }
  }
  
  h4 {
    margin: 0;
  }
  
  /*--------------------------TDL-------------------------------------*/
  
  .sortable::-webkit-scrollbar, .cal::-webkit-scrollbar {
    width: 1.5rem;
    background-color: rgba(0, 0, 0, 0.15);
  }
  
  .sortable::-webkit-scrollbar-thumb, .cal::-webkit-scrollbar-thumb {
    background: #000;
  }
  
  .sortable, .cal {
    scrollbar-color: #000 rgba(0, 0, 0, 0.15);
    scrollbar-width: thin;
  }
  
  .to-do-list-content li label {
    input {
      opacity: 0;
  
      &[type="checkbox"]:checked ~ p {
        text-decoration: line-through;
      }
    }
  
    div {
      justify-content: flex-end;
      align-items: flex-end;
      display: flex;
  
      a {
        text-decoration: none;
        color: #989c99;
        margin-right: .5rem;
        font-size: 15px;
  
        &:last-child {
          margin-right: 1rem;
        }
      }
    }
  }
  
  .to-do-list-task {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  /*--------------------------------------DRAGGABLE TDL--------------------*/
  /*content: "▴ ▾ ☰ ⁞⁞ ✔ ✎ ⨯";*/
  
  ul.sortable {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 86%;
    overflow: hidden auto;
  
    > li {
      display: block;
      border-radius: 4px;
      cursor: move;
      position: relative;
      margin: auto 2rem auto 2rem;
      margin-bottom: .5rem !important;
      background: #ececec;
      color: #99abb4;
      font-size: 14px;
  
      &:hover {
        background: #ffffe0;
      }
  
      &.active {
        background: #ccc;
      }
  
      &.dragging {
        background: #e0ffff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        opacity: 0.5;
      }
    }
  }
  