.alert-close {
    font-size: 30px;
    font-weight: 1000;
    color: #750000;
    border: none;
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
  }
  .alert {
    border-radius: 10px;
    margin: auto auto 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    padding: .5rem;
  }
  .alert-success {
    background: #3c763d;
    border: solid 1px #366b37;
  }
  .alert-warning {
    background: #a89700ad;
    border: solid 1px #978800;
  }
  .alert-danger {
    background: #dd0700ad;
    border: solid 1px #b60600;
  }