.connection-image {
    background-image: url("./../img/cover/home-wallpaper.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.hero {
    position: relative;
    text-align: center;
    min-height: 90vh;
    width: 60%;
    z-index: 99;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content-area {
    opacity: 0.8;
    animation: slidefade 1s forwards;
    width: 70%;
}

@keyframes slidefade{
    from{transform:scale(0)}
    to{transform:scale(1)}
}


input {
    ::-webkit-input-placeholder {
        color: rgba(255,255,255,0.7);
    }
    ::-moz-placeholder {
        color: rgba(255,255,255,0.7);  
    }
    :-ms-input-placeholder {  
        color: rgba(255,255,255,0.7);  
    }
    &:focus {
    outline: 0 transparent solid;
    ::-webkit-input-placeholder {
        color: rgba(0,0,0,0.7);
    }
    ::-moz-placeholder {
        color: rgba(0,0,0,0.7);  
    }
    :-ms-input-placeholder {  
        color: rgba(0,0,0,0.7);  
    }
    }
}

.connection-form {
    background: #0a0a0a;
    opacity: 0.7;
    min-height: 20rem;
    margin: auto;
    max-width: 60%;
    padding: .5rem;
}

.login-text, .register-text {
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 50%;
    padding: .5rem;
    text-align: center;
    .fa-stack-1x {
    color: black;
    }
}

.connection-field, .connection-password {
    background: transparent;
    border: 0 solid;
    border-bottom: 1px solid rgba(white, .5);
    color: white;
    display: block;
    margin: 1rem;
    padding: .5rem;
    transition: 250ms background ease-in;
    width: calc(100% - 3rem);
    &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
    }
}

.goto-register, .goto-login {
    color: white;
    cursor: pointer;
    display: block;
    font-size: 75%;
    left: 0;
    opacity: 0.6;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    &:hover {
    opacity: 1;
    }
}
.login-submit, .register-submit {
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: .25rem;
    transition: 250ms background ease-in;
    &:hover, &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
    }
}

@keyframes hue-rotate {
    from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
    }
    to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
    }
}