@import './variables';

.footer {
    padding: 4rem 0; /* Place the footer */ 
    height: 100%; /* Set the footer on full width */
    width: 100%; /* Set the footer on full height */
    text-align: center; /* Align the content at center*/
    background-color: #212529; /* Set the footer background */
    margin-top: 2rem; /* Place a margin between previous content and the footer */
    margin-top: 15rem;

    a { color: $defaultFont; } /* Set default link color */

    .social { 
        margin-bottom: 1rem;       

        li .twitter:hover, li .twitter:focus { color: #00aced; } /* Set twitter color */
        li .dribbble:hover, li .dribbble:focus { color: #ea4c89; } /* Set dribble color */
        li .facebook:focus, li .facebook:hover { color: #3b5998; } /* Set facebook color */
        li .google-plus:hover, li .google-plus:focus { color: #d34836; } /* Set ggp color */
    }

    .copyright {
        margin-bottom: 0;
    }
}
