@import './variables';

/*Background*/
.loader {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: $defaultBackground;
}

/*Loading animation*/
.loading {
    /*Placement*/
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    margin: -2rem 0 0 -2rem;
    text-indent: -9999rem;
    /*Color and properties*/
    border-radius: 35%;
    background: $loaderColor;
    background: -moz-linear-gradient(left, $loaderColor 10%, 50%);
    background: -webkit-linear-gradient(left, $loaderColor 10%, 50%);
    background: -o-linear-gradient(left, $loaderColor 10%, 50%);
    background: -ms-linear-gradient(left, $loaderColor 10%, 50%);
    background: linear-gradient(to right, $loaderColor 10%, 50%);
    /*Animation*/
    -webkit-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

/*Loading properties before*/
.loading:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    content: "";
    background: $loaderColor;
    border-radius: 100% 0 0 0;
}

/*Loading properties after*/
.loading:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 94%;
    height: 94%;
    content: "";
    background: $defaultBackground;
    border-radius: 50%;
}