@import './variables';


.navbar {
    overflow: hidden; /* Hide the text on screen reduction */
    position: inherit; /* Fix the navbar on the top of the screen */
    z-index: 2; /* Pass the bar on the 2nd layer */
    width: 100%; /* Extends the bar horizontally */
    margin: 0; /* Set margins to 0 */
    padding: 0; /* Set padding to 0 */
    list-style-type: none; /* Disable dots */
    text-transform: uppercase; /* Pass the text to upper case */
    background-color: $defaultBackground; /*Set the navbar background color */
    a {
        padding: 10px 16px; /* Set the link padding */
    }
    .nav-l {
        float: left; /* Align items to the left */
    }
    .nav-r {
        float:right; /* Align items to the right */
    }
    .nav-link {
        font-size: 18px; /* Set the link font size */
        color: $defaultFont; /* Set the link font color */
        &:hover {
            color: $defaultLinksHover; /* Change the font color on hover */
        }
        &:focus {
            color: $defaultLinksFocus; /* Change the font color on focus */
        }
    }
    .icon {
        display: none; /* By default hide the menu button */
    }
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

// Default style 
@media screen and (max-width: 1300px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}
// Responsive style
@media screen and (max-width: 1300px) {
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
