.page {
    position: relative; /* Set the text position to relative */
}

.overlay {
    .content {
        z-index: 1; /* Pass the content on the 1st layer */
    }
    &::after {
        top: 0; /* Center the overlay */
        left: 0; /* Center the overlay */
        content: ""; /* Set the overlay content to null */
        width: 100%; /* Set the overlay as full width in the container */
        height: 100%; /* Set the overlay as full height in the container */
        position: absolute; /* Place the overlay as absolute in the container */
        background: rgba(0, 0, 0, 0.4); /* Set the background color and opacity */
    }
}

.content-center { text-align: center !important; /* Center the text */ }

.container { height: 70vh; /* Set container size  */ }

.container-xxxl { max-width: 160rem; /* 2560px */ }
.container-xxl { max-width: 120rem;  /* 1920px */ }
.container-xl { max-width: 105rem;   /* 1680px */ }
.container-la { max-width: 96rem;    /* 1536px */ }
.container-md { max-width: 90rem;    /* 1440px */ }
.container-sm { max-width: 85.375rem;/* 1366px */ }
.container-xs { max-width: 80rem;    /* 1280px */ }
.container-xxs { max-width: 50rem;   /* 800px  */ }
.container-xxxs { max-width: 20rem;  /* 320px  */ }

.center {
    @extend .content-center; /* Inherits from content-center  */
    justify-content: center; /* Center the container on the screen */
    align-items: center; /* Center items vertically */
    display: flex; /* Display the container flex */
}
.center-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.separator {
    width: 10rem; /* Set the separator size */
    height: 0.1rem; /* Set the separator height */
    margin-left: auto; /* Center the separator */
    margin-right: auto; /* Center the separator */
    background: $separatorColor; /* Set the color of the separator */
}

/*Home cover*/
.home {
    background-image: url("./../img/cover/home-wallpaper.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
    h1 {
        font-size: 4rem;
        line-height: 1;
    }
}


// /*Place images*/
// .page {
//     position: relative;
//     overflow: hidden;
// }

// /*Place content*/
// .page.overlay .content {
//     position: relative;
//     z-index: 1;
// }

// /*Add margins between cover pictures*/
// .page .content.cover{
//     margin-top: 10rem;
//     margin-bottom: 5rem;
// }

// .cover {
//     margin-top: 8rem;
// }