.products-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.products-card {
    flex: 0 0 32%;
    max-width: 32%;
    box-sizing: border-box;
    border: 2px solid #58c5d0;
    padding: 0 4rem 0 4rem;
    box-shadow:0 1px 4px 0 #00ff51, 0 1px 8px 0 #00ff51;
    margin: 2rem auto 1rem auto;
    font-size: 16px;
    overflow: hidden;
    
}

/* Remove border shadows when we are over the card */
.products-card:hover {
    box-shadow: none;
}
/* Change default image, h3 and p opacity when we are over the card */
a.products-card:hover img, a.products-card:hover p, a.products-card:hover h3 {
    opacity: 0.2;
}

.products-image {
    margin-top: 1rem;
    padding-bottom: 1rem;
    width: 60%;
}

.products-title {
    color: #58c5d0;
}

.products-close {
    display: none;
    font-size: 70px;
    font-weight: 500;
    /* Cross placement */
    padding: 0 2rem 0 0;
    float: right;
}

.products-close:hover, .products-close:focus {
    color: red;
    cursor: pointer;
  }

// Responsive styles 
@media screen and (max-width: 1100px) {
    .products-card {
        padding: 0 1rem 0 1rem;
    }
}
@media screen and (max-width: 800px) {
    .products-container {
        display: grid;
    }
    .products-card {
        padding: 0 3rem 0 3rem;
        max-width: 60%;
    }
}
@media screen and (max-width: 500px) {
    .products-card {
        padding: 0 1rem 0 1rem;
    }
}
