.typewriter {
    /*font-family: monospace;*/
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s infinite steps(30, end);
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.error-404-list {
    list-style: none;
    margin-top: 1rem;
}
.error-404-list li::before {
    content: '▦';
    color: #58c5d0;
    display: inline-block; 
    /* Distance between the puce and the line*/
    width: 2rem;
}

.error-404-list li {
    margin-top: 0.5rem;
    margin-left: 1rem;
    padding-left: 1rem;
}

.error-404 {
    /* Declare the background properties */
    /* background-image: url('../../assets/img/cover/error-404-wallpaper.jpg'); */
    background-image: url("./../img/cover/error-404-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* Hide adaptative background scrollbars */
    overflow: hidden;
    /* Responsive background */
    height: 100%;
    width: 100%;
}

.error-404-container {
    color: #ffffff;
    background: #0a0a0a;
    border-radius: 25px;

    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */

    width: 50%;
    height: 40%;

    padding: 1rem;
    overflow: auto;
}

.error-404-content {
    margin-top: 4rem;
    margin-bottom: 5rem;
}