.modal-overlay {
    /* Hidden by default */
    display: none;
    /* Stay in place */ 
    position: fixed; 
    z-index: 3;
    /* Suppress margins */
    left: 0;
    top: 0;
    /* Full screen display */
    width: 100%;
    height: 100%;
    /* Background color and opacity */
    background-color: rgba(0,0,0,0.7);
    
}
  
.modal {
      /* Place the modal on the screen */
      margin: 8% auto 15% auto;
      /* Color properties */
      background: #ffffff;
      border: 1px solid #888888;
}

.modal-xl {
  /* Sizes */
  width: 90%;
  height: 70%;
}

.modal-md {
  /* Sizes */
  width: 40%;
  height: 60%;
}

.modal-content-container {
  display:table;
  clear:both;
  padding: 0 1.5rem 0 1.5rem;
  margin-bottom: 1rem;
}

.modal-content {
    color: #000000;
}

/* Cross close button */
.modal-close {
  /* Cross properties */
  color: #000000;
  font-size: 60px;
  font-weight: 500;
  /* Cross placement */
  display: grid;
  justify-content: center;
  align-content: center;
}

.modal-close:hover, .modal-close:focus {
  color: red;
  cursor: pointer;
}



.modal-password {
    display: grid;
    justify-content: flex-end;  
    vertical-align: bottom;
    margin-top: 4rem;    
}

.modal-form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal-label {
    font-size: 16px;
    font-weight: 500;
}


.modal-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.btn-modal-header {
  flex: 0 0 25%;
  max-width: 25%;
}

.modal-link {
    color: #58c5d0;
    font-size: 14px;
}
 
/* .login-container {

} */

.register-container {
  display: none;
  height: 80%;
  overflow-y: auto;
}

.forgot-container {
  display:none;
}