@charset "UTF-8";
.page {
  position: relative;
  /* Set the text position to relative */
}

.overlay .content {
  z-index: 1;
  /* Pass the content on the 1st layer */
}

.overlay::after {
  top: 0;
  /* Center the overlay */
  left: 0;
  /* Center the overlay */
  content: "";
  /* Set the overlay content to null */
  width: 100%;
  /* Set the overlay as full width in the container */
  height: 100%;
  /* Set the overlay as full height in the container */
  position: absolute;
  /* Place the overlay as absolute in the container */
  background: rgba(0, 0, 0, 0.4);
  /* Set the background color and opacity */
}

.content-center, .center {
  text-align: center !important;
  /* Center the text */
}

.container {
  height: 70vh;
  /* Set container size  */
}

.container-xxxl {
  max-width: 160rem;
  /* 2560px */
}

.container-xxl {
  max-width: 120rem;
  /* 1920px */
}

.container-xl {
  max-width: 105rem;
  /* 1680px */
}

.container-la {
  max-width: 96rem;
  /* 1536px */
}

.container-md {
  max-width: 90rem;
  /* 1440px */
}

.container-sm {
  max-width: 85.375rem;
  /* 1366px */
}

.container-xs {
  max-width: 80rem;
  /* 1280px */
}

.container-xxs {
  max-width: 50rem;
  /* 800px  */
}

.container-xxxs {
  max-width: 20rem;
  /* 320px  */
}

.center {
  /* Inherits from content-center  */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Center the container on the screen */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Center items vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Display the container flex */
}

.center-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.separator {
  width: 10rem;
  /* Set the separator size */
  height: 0.1rem;
  /* Set the separator height */
  margin-left: auto;
  /* Center the separator */
  margin-right: auto;
  /* Center the separator */
  background: #ffffff;
  /* Set the color of the separator */
}

/*Home cover*/
.home {
  background-image: url("./../img/cover/home-wallpaper.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.home h1 {
  font-size: 4rem;
  line-height: 1;
}

.navbar {
  overflow: hidden;
  /* Hide the text on screen reduction */
  position: inherit;
  /* Fix the navbar on the top of the screen */
  z-index: 2;
  /* Pass the bar on the 2nd layer */
  width: 100%;
  /* Extends the bar horizontally */
  margin: 0;
  /* Set margins to 0 */
  padding: 0;
  /* Set padding to 0 */
  list-style-type: none;
  /* Disable dots */
  text-transform: uppercase;
  /* Pass the text to upper case */
  background-color: #0a0a0a;
  /*Set the navbar background color */
}

.navbar a {
  padding: 10px 16px;
  /* Set the link padding */
}

.navbar .nav-l {
  float: left;
  /* Align items to the left */
}

.navbar .nav-r {
  float: right;
  /* Align items to the right */
}

.navbar .nav-link {
  font-size: 18px;
  /* Set the link font size */
  color: #ffffff;
  /* Set the link font color */
}

.navbar .nav-link:hover {
  color: #58c5d0;
  /* Change the font color on hover */
}

.navbar .nav-link:focus {
  color: #00ff51;
  /* Change the font color on focus */
}

.navbar .icon {
  display: none;
  /* By default hide the menu button */
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

.products-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  max-width: 32%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #58c5d0;
  padding: 0 4rem 0 4rem;
  -webkit-box-shadow: 0 1px 4px 0 #00ff51, 0 1px 8px 0 #00ff51;
          box-shadow: 0 1px 4px 0 #00ff51, 0 1px 8px 0 #00ff51;
  margin: 2rem auto 1rem auto;
  font-size: 16px;
  overflow: hidden;
}

/* Remove border shadows when we are over the card */
.products-card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Change default image, h3 and p opacity when we are over the card */
a.products-card:hover img, a.products-card:hover p, a.products-card:hover h3 {
  opacity: 0.2;
}

.products-image {
  margin-top: 1rem;
  padding-bottom: 1rem;
  width: 60%;
}

.products-title {
  color: #58c5d0;
}

.products-close {
  display: none;
  font-size: 70px;
  font-weight: 500;
  /* Cross placement */
  padding: 0 2rem 0 0;
  float: right;
}

.products-close:hover, .products-close:focus {
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .products-card {
    padding: 0 1rem 0 1rem;
  }
}

@media screen and (max-width: 800px) {
  .products-container {
    display: -ms-grid;
    display: grid;
  }
  .products-card {
    padding: 0 3rem 0 3rem;
    max-width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .products-card {
    padding: 0 1rem 0 1rem;
  }
}

.footer {
  padding: 4rem 0;
  /* Place the footer */
  height: 100%;
  /* Set the footer on full width */
  width: 100%;
  /* Set the footer on full height */
  text-align: center;
  /* Align the content at center*/
  background-color: #212529;
  /* Set the footer background */
  margin-top: 2rem;
  /* Place a margin between previous content and the footer */
  margin-top: 15rem;
  /* Set default link color */
}

.footer a {
  color: #ffffff;
}

.footer .social {
  margin-bottom: 1rem;
  /* Set twitter color */
  /* Set dribble color */
  /* Set facebook color */
  /* Set ggp color */
}

.footer .social li .twitter:hover, .footer .social li .twitter:focus {
  color: #00aced;
}

.footer .social li .dribbble:hover, .footer .social li .dribbble:focus {
  color: #ea4c89;
}

.footer .social li .facebook:focus, .footer .social li .facebook:hover {
  color: #3b5998;
}

.footer .social li .google-plus:hover, .footer .social li .google-plus:focus {
  color: #d34836;
}

.footer .copyright {
  margin-bottom: 0;
}

/*Background*/
.loader {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0a0a0a;
}

/*Loading animation*/
.loading {
  /*Placement*/
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  margin: -2rem 0 0 -2rem;
  text-indent: -9999rem;
  /*Color and properties*/
  border-radius: 35%;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffffff), to(50%));
  background: linear-gradient(to right, #ffffff 10%, 50%);
  /*Animation*/
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/*Loading properties before*/
.loading:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  content: "";
  background: #ffffff;
  border-radius: 100% 0 0 0;
}

/*Loading properties after*/
.loading:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 94%;
  height: 94%;
  content: "";
  background: #0a0a0a;
  border-radius: 50%;
}

.team .content {
  margin-bottom: 0;
}

.team .teammate {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.team .teammate .profile-photo {
  overflow: hidden;
}

.team .teammate .profile-photo img {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  height: 100%;
}

.team .teammate:hover .profile-photo img,
.team .teammate:focus .profile-photo img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.team .teammate .bio {
  height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.team .teammate .bio ul {
  margin-bottom: 0;
}

.team .teammate .bio a {
  color: #666;
}

.team .teammate .bio a:hover,
.team .teammate .bio a:focus {
  color: #222;
}

.team-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center-icons {
  display: contents;
}

.hello {
  opacity: 1 !important;
}

.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.full .content {
  background-color: rgba(0, 0, 0, 0.75) !important;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.full .content img {
  left: 50%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: zoomin 1s ease;
          animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.byebye {
  opacity: 0;
}

.byebye:hover {
  -webkit-transform: scale(0.2) !important;
          transform: scale(0.2) !important;
}

.gallery {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}

.gallery img {
  max-width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 16px #333;
          box-shadow: 0 0 16px #333;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.gallery img:hover {
  -webkit-box-shadow: 0 0 32px #333;
          box-shadow: 0 0 32px #333;
}

.gallery .content {
  padding: 4px;
}

.gallery .gallery-item {
  -webkit-transition: grid-row-start 300ms linear;
  transition: grid-row-start 300ms linear;
  transition: grid-row-start 300ms linear, -ms-grid-row 300ms linear;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.gallery .gallery-item:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

@media (max-width: 600px) {
  .gallery {
    -ms-grid-columns: (minmax(30%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}

@media (max-width: 400px) {
  .gallery {
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  30% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes zoomin {
  0% {
    max-width: 50%;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  30% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.connection-image {
  background-image: url("./../img/cover/home-wallpaper.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.hero {
  position: relative;
  text-align: center;
  min-height: 90vh;
  width: 60%;
  z-index: 99;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content-area {
  opacity: 0.8;
  -webkit-animation: slidefade 1s forwards;
          animation: slidefade 1s forwards;
  width: 70%;
}

@-webkit-keyframes slidefade {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes slidefade {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:focus {
  outline: 0 transparent solid;
}

input:focus ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

input:focus ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

input:focus :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.connection-form {
  background: #0a0a0a;
  opacity: 0.7;
  min-height: 20rem;
  margin: auto;
  max-width: 60%;
  padding: .5rem;
}

.login-text, .register-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
}

.login-text .fa-stack-1x, .register-text .fa-stack-1x {
  color: black;
}

.connection-field, .connection-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
}

.connection-field:focus, .connection-password:focus {
  background: white;
  color: black;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

.goto-register, .goto-login {
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

.goto-register:hover, .goto-login:hover {
  opacity: 1;
}

.login-submit, .register-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

.login-submit:hover, .login-submit:focus, .register-submit:hover, .register-submit:focus {
  background: white;
  color: black;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

/* Display cards on the grid */
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
      grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
  -ms-grid-rows: 25rem 30rem 30rem 30rem 30rem;
      grid-template-rows: 25rem 30rem 30rem 30rem 30rem;
  gap: 30px 15px;
      grid-template-areas: "sidebar traffic    traffic    traffic    traffic"  "sidebar team       team       team       team"  "sidebar meteo      tdl        tdl        tdl"  "sidebar tchat      tchat      tchat      cal"  "sidebar products   products   products   products";
}

/* Set cards on the grid */
.traffic {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: traffic;
}

.tdl {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: tdl;
}

.cal {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: cal;
}

.tchat {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: tchat;
}

.meteo {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: meteo;
}

.timeline {
  grid-area: timeline;
}

.team {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: team;
}

.products {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: products;
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.cards {
  background-color: #e3e3e3;
  word-wrap: break-word;
  border-radius: 5px;
  border-radius: .25rem;
  border: 0px solid transparent;
  border: 1px solid rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.menu {
  background-color: #e3e3e3;
}

.cards header {
  color: #000 !important;
  background-color: #f1f1f1 !important;
  height: 3rem;
  margin-bottom: 1rem;
}

.cards-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 1rem;
}

.cards-header-r {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-header-r a {
  font-weight: 800;
  font-size: 18px;
  margin-right: 1.5rem;
}

h4 {
  margin: 0;
}

/*--------------------------TDL-------------------------------------*/
.sortable::-webkit-scrollbar, .cal::-webkit-scrollbar {
  width: 1.5rem;
  background-color: rgba(0, 0, 0, 0.15);
}

.sortable::-webkit-scrollbar-thumb, .cal::-webkit-scrollbar-thumb {
  background: #000;
}

.sortable, .cal {
  scrollbar-color: #000 rgba(0, 0, 0, 0.15);
  scrollbar-width: thin;
}

.to-do-list-content li label input {
  opacity: 0;
}

.to-do-list-content li label input[type="checkbox"]:checked ~ p {
  text-decoration: line-through;
}

.to-do-list-content li label div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.to-do-list-content li label div a {
  text-decoration: none;
  color: #989c99;
  margin-right: .5rem;
  font-size: 15px;
}

.to-do-list-content li label div a:last-child {
  margin-right: 1rem;
}

.to-do-list-task {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*--------------------------------------DRAGGABLE TDL--------------------*/
/*content: "▴ ▾ ☰ ⁞⁞ ✔ ✎ ⨯";*/
ul.sortable {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 86%;
  overflow: hidden auto;
}

ul.sortable > li {
  display: block;
  border-radius: 4px;
  cursor: move;
  position: relative;
  margin: auto 2rem auto 2rem;
  margin-bottom: .5rem !important;
  background: #ececec;
  color: #99abb4;
  font-size: 14px;
}

ul.sortable > li:hover {
  background: #ffffe0;
}

ul.sortable > li.active {
  background: #ccc;
}

ul.sortable > li.dragging {
  background: #e0ffff;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.alert-close {
  font-size: 30px;
  font-weight: 1000;
  color: #750000;
  border: none;
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
}

.alert {
  border-radius: 10px;
  margin: auto auto 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
  padding: .5rem;
}

.alert-success {
  background: #3c763d;
  border: solid 1px #366b37;
}

.alert-warning {
  background: #a89700ad;
  border: solid 1px #978800;
}

.alert-danger {
  background: #dd0700ad;
  border: solid 1px #b60600;
}

html {
  background-color: #0a0a0a;
}

body {
  /* Default margins */
  margin: 0;
  font-family: cursive;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -.02rem;
}

h2 {
  font-size: 2rem;
  color: #212529;
}

h3 {
  font-size: 1.75rem;
}

*, *:focus {
  outline: none !important;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.hiding {
  opacity: 0;
}

.showing {
  opacity: 1;
}

.img-rounded {
  border-radius: 8px;
}

.list-inline-item {
  margin-right: 1rem;
  margin-left: 1rem;
  display: inline-block;
}

.margin-center {
  margin-right: 10rem;
  margin-left: 10rem;
}

.pointer-default {
  cursor: default;
}

.button {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  color: #ffffff;
  background-color: #408c94;
  padding: 0.3rem 1rem 0.3rem 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 18px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button span:after {
  content: '⮚';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Animations */
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */