@import './variables';
@import './page';
@import './navbar';
@import './products';
@import './footer';
@import './loader';
@import './about';
@import './gallery';
@import './connection';
@import './admin-dashboard';
@import './alert';


html {
    background-color: $defaultBackground;
}

body {
    /* Default margins */
    margin: 0;
    font-family: cursive;
    font-size: 18px;
    color: $defaultFont;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -.02rem;
}
h2 {
    font-size: 2rem; 
    color: #212529;
}
h3 {
    font-size: 1.75rem;
}

*, *:focus {
    outline: none !important;
}


a {
    cursor: pointer;
    text-decoration: none;
}

.hiding {
    opacity: 0;
}

.showing {
    opacity: 1;
}

.img-rounded {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.list-inline-item {
    margin-right: 1rem;
    margin-left: 1rem;
    display: inline-block;
}

.margin-center {
    margin-right: 10rem;
    margin-left: 10rem;
}

// #products, #gallery, .team, #shop {
//     background: $defaultBackground;
// }

.pointer-default {
    cursor: default;
}

.button {
    display: inline-block;
    vertical-align:middle;
    border-radius: 5px ;
    color: $defaultFont;
    background-color: #408c94;
    padding: 0.3rem 1rem 0.3rem 1rem;
    transition: all 0.5s;
    font-size: 18px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '⮚';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

//   .component-more {
//       width: 4%;
//       cursor: pointer;
//   }


/* Animations */
@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

